
/* Conteúdo */
.content {
  flex: 1; /* Conteúdo ocupa o restante do espaço */
  padding: 1rem;
}

/* Outras classes como container e form */
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.container-datalist,
.container-add {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Títulos e botões */
h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

/* Ajuste de estilos dos inputs */
input, select {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilo para os botões */
button {
  width: 70%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}

/* Ajustes para a lista */
ul {
  list-style: none;
  padding: 0;
}

ul li {
  text-align: center;
  width: 275px;
  padding: 12px;
  background-color: #f0f8ff;
  margin: 10px;
  border-radius: 5px;
}

.li-list {
  background-color: white;
  padding: 20px;
  margin: 10px;
  padding-left: 20px;
  padding-top: 20px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  font-size: 2rem;
  color: #2e3a59;
}

.container-crud {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 22px;
}
